.navitems{
    display: flex;
    flex-direction: row;
}
.hero{
    border-radius: 25px;
}
.flex-about-container{
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 2%;
    margin-top: 5%;
    background-color: rgb(244,244,244);
    border-radius: 25px;
}
.inno{
    font-family: Poppins, sans-serif;
    font-size: 47px;
    font-weight: 500;
    line-height: 51.7px;
    color: rgb(5, 4, 127);
}
.abt{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(122, 122, 122);
    padding-top: 30px;
}
.abtint{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(0, 37, 142);
}
.rdmr{
    background-color: rgb(0,37,142);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.flex-about-container-2{
    padding-top: 85px;
    padding-left: 45px;
    background-color: white;
    border-radius: 25px;
    width: 30%;
    height: 300px;
}
.vision{
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 35.2px;
    color: rgb(5, 4, 127);
}
.vsnit{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(122, 122, 122);
    padding-top: 25px;
}
.flex-about-container-3{
    padding-top: 85px;
    padding-left: 45px;
    background-color: white;
    border-radius: 25px;
    width: 30%;
    height: 300px;
}
.flex-partners-container{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 140px;
}
.nitda{
    width: 200px;
    height: 50px;
    padding-left: 50px;
}
.partners{
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 52.8px;
    color: rgb(5, 4, 127);
    text-align: center;
    padding-top: 120px;
}
.flex-partners-container-2{
    padding-left: 120px;
}
.flex-partners-container-3{
    padding-left: 50px;
}
.ain{
    border-radius: 15px;
    padding-left: 150px;
}
.srvcs{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(0, 37, 142);
    padding-top: 30px;
    text-align: center;
}
.flex-academic-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(248,248,248);
}
.skill{
    width: 300px;
    height: 200px;
    border-radius: 25px;
    margin: 5%;
    padding-left: 10%;
    padding-top: 5%;
}
.flex-impact-container{
    display: flex;
    flex-direction: column;
}
.stim{
    font-family: Poppins, sans-serif;
    font-size: 20.8px;
    font-weight: 600;
    line-height: 22.88px;
    color: rgb(5, 4, 127);
}
.flex-impact-container-1{
    padding-top: 20px;
    padding-left: 60px;
}
.impt{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(122, 122, 122);
}
.logon{
    width: 130px;
    height: 60px;
}
.flex-footer-container{
    background-color: rgb(5,4,127);
}
.flex-ftr-container{
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 100px;
}
.footer-cta{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    padding-top: 25px;
}
.collab{
    background-color: rgb(43,114,255);
    border-radius: 25px;
}
.jinus{
    padding-top: 65px;
    padding-bottom: 50px;
}
.juib{
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 48.8px;
    color: rgb(5, 4, 127);
}
.tagline{
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
    padding-top: 30px;
}
.jth{
    background-color: rgb(5,4,127);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    color: white;
}
.tgln{
    text-align: center;
}
.flex-logo-container{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.fb{
    border-radius: 15px;
}
.tw{
    border-radius: 45px;
    padding-left: 40px;
}
.ntda{
    text-align: center;
}
.osl{
    text-align: center;
}
.ig{
    padding-left: 40px;
}